footer
    .inner
        .container
            div
                ul.nav.nav-pills
                    li
                        a(href='') Info
                    li
                        a(href='') Contact
                    li
                        a(href='') About
                    li
                        a(href='') Privacy
                    li
                        a(href='') Terms

    .container
        .row
            .col-md-6.col-xs-12
                p.opensans-light.mb20  Copyright © 2015 Demo | All rights reserved.
            .col-md-6.col-xs-12
                span.logo-light.mt-5

